In [76]:
import pandas as pd
amk_hdb = pd.read_csv ("MedianResalePricesforRegisteredApplicationsbyTownandFlatType.csv")
amk_hdb.head (10)

   quarter        town  flat_type   price
0  2007-Q2  Ang Mo Kio     1-room      na
1  2007-Q2  Ang Mo Kio     2-room       -
2  2007-Q2  Ang Mo Kio     3-room  172000
3  2007-Q2  Ang Mo Kio     4-room  260000
4  2007-Q2  Ang Mo Kio     5-room  372000
5  2007-Q2  Ang Mo Kio  Executive       -
6  2007-Q2       Bedok     1-room      na
7  2007-Q2       Bedok     2-room       -
8  2007-Q2       Bedok     3-room  172000
9  2007-Q2       Bedok     4-room  224500

In [83]:
amk = amk_hdb[amk_hdb['town'].isin(['Ang Mo Kio', 'ANG MO KIO'])]
amk.head(10)

     quarter        town  flat_type   price
0    2007-Q2  Ang Mo Kio     1-room      na
1    2007-Q2  Ang Mo Kio     2-room       -
2    2007-Q2  Ang Mo Kio     3-room  172000
3    2007-Q2  Ang Mo Kio     4-room  260000
4    2007-Q2  Ang Mo Kio     5-room  372000
5    2007-Q2  Ang Mo Kio  Executive       -
156  2007-Q3  Ang Mo Kio     1-room      na
157  2007-Q3  Ang Mo Kio     2-room       -
158  2007-Q3  Ang Mo Kio     3-room  190000
159  2007-Q3  Ang Mo Kio     4-room  280000

In [86]:
amk['town'] = amk['town'].replace('ANG MO KIO', 'Ang Mo Kio')
amk.tail (50)

/var/folders/69/zlsfprn95wn191fzrh_b7bf00000gp/T/ipykernel_33127/447865087.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amk['town'] = amk['town'].replace('ANG MO KIO', 'Ang Mo Kio')

       quarter        town  flat_type   price
9676   2022-Q4  Ang Mo Kio     5-room  868000
9677   2022-Q4  Ang Mo Kio  Executive       -
9828   2023-Q1  Ang Mo Kio     1-room     NaN
9829   2023-Q1  Ang Mo Kio     2-room       -
9830   2023-Q1  Ang Mo Kio     3-room  380000
9831   2023-Q1  Ang Mo Kio     4-room  605900
9832   2023-Q1  Ang Mo Kio     5-room  785000
9833   2023-Q1  Ang Mo Kio  Executive       -
9984   2023-Q2  Ang Mo Kio     1-room     NaN
9985   2023-Q2  Ang Mo Kio     2-room       -
9986   2023-Q2  Ang Mo Kio     3-room  380400
9987   2023-Q2  Ang Mo Kio     4-room  520000
9988   2023-Q2  Ang Mo Kio     5-room  697500
9989   2023-Q2  Ang Mo Kio  Executive       -
10140  2023-Q3  Ang Mo Kio     1-room     NaN
10141  2023-Q3  Ang Mo Kio     2-room       -
10142  2023-Q3  Ang Mo Kio     3-room  385000
10143  2023-Q3  Ang Mo Kio     4-room  538000
10144  2023-Q3  Ang Mo Kio     5-room  725500
10145  2023-Q3  Ang Mo Kio  Executive       -
10296  2023-Q4  Ang Mo Kio     1-room     NaN
10297  2023-Q4  Ang Mo Kio     2-room       -
10298  2023-Q4  Ang Mo Kio     3-room  388000
10299  2023-Q4  Ang Mo Kio     4-room  594000
10300  2023-Q4  Ang Mo Kio     5-room  788000
10301  2023-Q4  Ang Mo Kio  Executive       -
10452  2024-Q1  Ang Mo Kio     1-room     NaN
10453  2024-Q1  Ang Mo Kio     2-room       -
10454  2024-Q1  Ang Mo Kio     3-room  399000
10455  2024-Q1  Ang Mo Kio     4-room  531500
10456  2024-Q1  Ang Mo Kio     5-room  905000
10457  2024-Q1  Ang Mo Kio  Executive     NaN
10608  2024-Q2  Ang Mo Kio     1-room     NaN
10609  2024-Q2  Ang Mo Kio     2-room       -
10610  2024-Q2  Ang Mo Kio     3-room  402000
10611  2024-Q2  Ang Mo Kio     4-room  612900
10612  2024-Q2  Ang Mo Kio     5-room  780000
10613  2024-Q2  Ang Mo Kio  Executive       -
10764  2024-Q3  Ang Mo Kio     1-room     NaN
10765  2024-Q3  Ang Mo Kio     2-room       -
10766  2024-Q3  Ang Mo Kio     3-room  410000
10767  2024-Q3  Ang Mo Kio     4-room  568000
10768  2024-Q3  Ang Mo Kio     5-room  920000
10769  2024-Q3  Ang Mo Kio  Executive       -
10920  2024-Q4  Ang Mo Kio     1-room     NaN
10921  2024-Q4  Ang Mo Kio     2-room       -
10922  2024-Q4  Ang Mo Kio     3-room  422500
10923  2024-Q4  Ang Mo Kio     4-room  590000
10924  2024-Q4  Ang Mo Kio     5-room  820000
10925  2024-Q4  Ang Mo Kio  Executive       -

In [87]:
amk.head (100)

      quarter        town  flat_type   price
0     2007-Q2  Ang Mo Kio     1-room      na
1     2007-Q2  Ang Mo Kio     2-room       -
2     2007-Q2  Ang Mo Kio     3-room  172000
3     2007-Q2  Ang Mo Kio     4-room  260000
4     2007-Q2  Ang Mo Kio     5-room  372000
...       ...         ...        ...     ...
2345  2011-Q1  Ang Mo Kio  Executive      na
2496  2011-Q2  Ang Mo Kio     1-room      na
2497  2011-Q2  Ang Mo Kio     2-room       -
2498  2011-Q2  Ang Mo Kio     3-room  330000
2499  2011-Q2  Ang Mo Kio     4-room  423000

[100 rows x 4 columns]

In [88]:
print (amk['price'].dtype)
print (amk ['quarter'].dtype)

object
object

In [89]:
amk['quarter'] = pd.PeriodIndex(amk['quarter'], freq='Q').to_timestamp()
print(amk['quarter'].dtype)  # Should show datetime64[ns]
print(amk.head(50))  # Check the first few rows

datetime64[ns]
        quarter        town  flat_type   price
0    2007-04-01  Ang Mo Kio     1-room      na
1    2007-04-01  Ang Mo Kio     2-room       -
2    2007-04-01  Ang Mo Kio     3-room  172000
3    2007-04-01  Ang Mo Kio     4-room  260000
4    2007-04-01  Ang Mo Kio     5-room  372000
5    2007-04-01  Ang Mo Kio  Executive       -
156  2007-07-01  Ang Mo Kio     1-room      na
157  2007-07-01  Ang Mo Kio     2-room       -
158  2007-07-01  Ang Mo Kio     3-room  190000
159  2007-07-01  Ang Mo Kio     4-room  280000
160  2007-07-01  Ang Mo Kio     5-room  420800
161  2007-07-01  Ang Mo Kio  Executive       -
312  2007-10-01  Ang Mo Kio     1-room      na
313  2007-10-01  Ang Mo Kio     2-room       -
314  2007-10-01  Ang Mo Kio     3-room  203000
315  2007-10-01  Ang Mo Kio     4-room  307000
316  2007-10-01  Ang Mo Kio     5-room  423000
317  2007-10-01  Ang Mo Kio  Executive       -
468  2008-01-01  Ang Mo Kio     1-room      na
469  2008-01-01  Ang Mo Kio     2-room       -
470  2008-01-01  Ang Mo Kio     3-room  215000
471  2008-01-01  Ang Mo Kio     4-room  313500
472  2008-01-01  Ang Mo Kio     5-room  435500
473  2008-01-01  Ang Mo Kio  Executive       -
624  2008-04-01  Ang Mo Kio     1-room      na
625  2008-04-01  Ang Mo Kio     2-room       -
626  2008-04-01  Ang Mo Kio     3-room  230000
627  2008-04-01  Ang Mo Kio     4-room  321000
628  2008-04-01  Ang Mo Kio     5-room  471900
629  2008-04-01  Ang Mo Kio  Executive       -
780  2008-07-01  Ang Mo Kio     1-room      na
781  2008-07-01  Ang Mo Kio     2-room       -
782  2008-07-01  Ang Mo Kio     3-room  238900
783  2008-07-01  Ang Mo Kio     4-room  333000
784  2008-07-01  Ang Mo Kio     5-room  468000
785  2008-07-01  Ang Mo Kio  Executive      na
936  2008-10-01  Ang Mo Kio     1-room      na
937  2008-10-01  Ang Mo Kio     2-room       -
938  2008-10-01  Ang Mo Kio     3-room  246000
939  2008-10-01  Ang Mo Kio     4-room  341000
940  2008-10-01  Ang Mo Kio     5-room  468800
941  2008-10-01  Ang Mo Kio  Executive       -
1092 2009-01-01  Ang Mo Kio     1-room      na
1093 2009-01-01  Ang Mo Kio     2-room       -
1094 2009-01-01  Ang Mo Kio     3-room  244400
1095 2009-01-01  Ang Mo Kio     4-room  338000
1096 2009-01-01  Ang Mo Kio     5-room       -
1097 2009-01-01  Ang Mo Kio  Executive       -
1248 2009-04-01  Ang Mo Kio     1-room      na
1249 2009-04-01  Ang Mo Kio     2-room       -

/var/folders/69/zlsfprn95wn191fzrh_b7bf00000gp/T/ipykernel_33127/4092527743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amk['quarter'] = pd.PeriodIndex(amk['quarter'], freq='Q').to_timestamp()

In [90]:
amk_2024 = amk[amk['quarter'].dt.year == 2024]
print(amk_2024)

         quarter        town  flat_type   price
10452 2024-01-01  Ang Mo Kio     1-room     NaN
10453 2024-01-01  Ang Mo Kio     2-room       -
10454 2024-01-01  Ang Mo Kio     3-room  399000
10455 2024-01-01  Ang Mo Kio     4-room  531500
10456 2024-01-01  Ang Mo Kio     5-room  905000
10457 2024-01-01  Ang Mo Kio  Executive     NaN
10608 2024-04-01  Ang Mo Kio     1-room     NaN
10609 2024-04-01  Ang Mo Kio     2-room       -
10610 2024-04-01  Ang Mo Kio     3-room  402000
10611 2024-04-01  Ang Mo Kio     4-room  612900
10612 2024-04-01  Ang Mo Kio     5-room  780000
10613 2024-04-01  Ang Mo Kio  Executive       -
10764 2024-07-01  Ang Mo Kio     1-room     NaN
10765 2024-07-01  Ang Mo Kio     2-room       -
10766 2024-07-01  Ang Mo Kio     3-room  410000
10767 2024-07-01  Ang Mo Kio     4-room  568000
10768 2024-07-01  Ang Mo Kio     5-room  920000
10769 2024-07-01  Ang Mo Kio  Executive       -
10920 2024-10-01  Ang Mo Kio     1-room     NaN
10921 2024-10-01  Ang Mo Kio     2-room       -
10922 2024-10-01  Ang Mo Kio     3-room  422500
10923 2024-10-01  Ang Mo Kio     4-room  590000
10924 2024-10-01  Ang Mo Kio     5-room  820000
10925 2024-10-01  Ang Mo Kio  Executive       -

In [94]:
print(amk['quarter'].dtype)  # Should show datetime64[ns]
print (amk['price'].dtype)
print (amk.tail (50))

datetime64[ns]
object
         quarter        town  flat_type   price
9676  2022-10-01  Ang Mo Kio     5-room  868000
9677  2022-10-01  Ang Mo Kio  Executive       -
9828  2023-01-01  Ang Mo Kio     1-room     NaN
9829  2023-01-01  Ang Mo Kio     2-room       -
9830  2023-01-01  Ang Mo Kio     3-room  380000
9831  2023-01-01  Ang Mo Kio     4-room  605900
9832  2023-01-01  Ang Mo Kio     5-room  785000
9833  2023-01-01  Ang Mo Kio  Executive       -
9984  2023-04-01  Ang Mo Kio     1-room     NaN
9985  2023-04-01  Ang Mo Kio     2-room       -
9986  2023-04-01  Ang Mo Kio     3-room  380400
9987  2023-04-01  Ang Mo Kio     4-room  520000
9988  2023-04-01  Ang Mo Kio     5-room  697500
9989  2023-04-01  Ang Mo Kio  Executive       -
10140 2023-07-01  Ang Mo Kio     1-room     NaN
10141 2023-07-01  Ang Mo Kio     2-room       -
10142 2023-07-01  Ang Mo Kio     3-room  385000
10143 2023-07-01  Ang Mo Kio     4-room  538000
10144 2023-07-01  Ang Mo Kio     5-room  725500
10145 2023-07-01  Ang Mo Kio  Executive       -
10296 2023-10-01  Ang Mo Kio     1-room     NaN
10297 2023-10-01  Ang Mo Kio     2-room       -
10298 2023-10-01  Ang Mo Kio     3-room  388000
10299 2023-10-01  Ang Mo Kio     4-room  594000
10300 2023-10-01  Ang Mo Kio     5-room  788000
10301 2023-10-01  Ang Mo Kio  Executive       -
10452 2024-01-01  Ang Mo Kio     1-room     NaN
10453 2024-01-01  Ang Mo Kio     2-room       -
10454 2024-01-01  Ang Mo Kio     3-room  399000
10455 2024-01-01  Ang Mo Kio     4-room  531500
10456 2024-01-01  Ang Mo Kio     5-room  905000
10457 2024-01-01  Ang Mo Kio  Executive     NaN
10608 2024-04-01  Ang Mo Kio     1-room     NaN
10609 2024-04-01  Ang Mo Kio     2-room       -
10610 2024-04-01  Ang Mo Kio     3-room  402000
10611 2024-04-01  Ang Mo Kio     4-room  612900
10612 2024-04-01  Ang Mo Kio     5-room  780000
10613 2024-04-01  Ang Mo Kio  Executive       -
10764 2024-07-01  Ang Mo Kio     1-room     NaN
10765 2024-07-01  Ang Mo Kio     2-room       -
10766 2024-07-01  Ang Mo Kio     3-room  410000
10767 2024-07-01  Ang Mo Kio     4-room  568000
10768 2024-07-01  Ang Mo Kio     5-room  920000
10769 2024-07-01  Ang Mo Kio  Executive       -
10920 2024-10-01  Ang Mo Kio     1-room     NaN
10921 2024-10-01  Ang Mo Kio     2-room       -
10922 2024-10-01  Ang Mo Kio     3-room  422500
10923 2024-10-01  Ang Mo Kio     4-room  590000
10924 2024-10-01  Ang Mo Kio     5-room  820000
10925 2024-10-01  Ang Mo Kio  Executive       -

In [95]:
amk_hdb_type = amk[~amk['flat_type'].isin(['1-room', '2-room', 'executive', 'Executive', 'EXECUTIVE'])]
amk_hdb_type.head (50)

        quarter        town flat_type   price
2    2007-04-01  Ang Mo Kio    3-room  172000
3    2007-04-01  Ang Mo Kio    4-room  260000
4    2007-04-01  Ang Mo Kio    5-room  372000
158  2007-07-01  Ang Mo Kio    3-room  190000
159  2007-07-01  Ang Mo Kio    4-room  280000
160  2007-07-01  Ang Mo Kio    5-room  420800
314  2007-10-01  Ang Mo Kio    3-room  203000
315  2007-10-01  Ang Mo Kio    4-room  307000
316  2007-10-01  Ang Mo Kio    5-room  423000
470  2008-01-01  Ang Mo Kio    3-room  215000
471  2008-01-01  Ang Mo Kio    4-room  313500
472  2008-01-01  Ang Mo Kio    5-room  435500
626  2008-04-01  Ang Mo Kio    3-room  230000
627  2008-04-01  Ang Mo Kio    4-room  321000
628  2008-04-01  Ang Mo Kio    5-room  471900
782  2008-07-01  Ang Mo Kio    3-room  238900
783  2008-07-01  Ang Mo Kio    4-room  333000
784  2008-07-01  Ang Mo Kio    5-room  468000
938  2008-10-01  Ang Mo Kio    3-room  246000
939  2008-10-01  Ang Mo Kio    4-room  341000
940  2008-10-01  Ang Mo Kio    5-room  468800
1094 2009-01-01  Ang Mo Kio    3-room  244400
1095 2009-01-01  Ang Mo Kio    4-room  338000
1096 2009-01-01  Ang Mo Kio    5-room       -
1250 2009-04-01  Ang Mo Kio    3-room  246000
1251 2009-04-01  Ang Mo Kio    4-room  340000
1252 2009-04-01  Ang Mo Kio    5-room  490000
1406 2009-07-01  Ang Mo Kio    3-room  256500
1407 2009-07-01  Ang Mo Kio    4-room  355500
1408 2009-07-01  Ang Mo Kio    5-room  488000
1562 2009-10-01  Ang Mo Kio    3-room  274000
1563 2009-10-01  Ang Mo Kio    4-room  371500
1564 2009-10-01  Ang Mo Kio    5-room  503000
1718 2010-01-01  Ang Mo Kio    3-room  278000
1719 2010-01-01  Ang Mo Kio    4-room  384500
1720 2010-01-01  Ang Mo Kio    5-room  503000
1874 2010-04-01  Ang Mo Kio    3-room  290000
1875 2010-04-01  Ang Mo Kio    4-room  389500
1876 2010-04-01  Ang Mo Kio    5-room  550000
2030 2010-07-01  Ang Mo Kio    3-room  305000
2031 2010-07-01  Ang Mo Kio    4-room  408000
2032 2010-07-01  Ang Mo Kio    5-room  589000
2186 2010-10-01  Ang Mo Kio    3-room  310000
2187 2010-10-01  Ang Mo Kio    4-room  418000
2188 2010-10-01  Ang Mo Kio    5-room  580000
2342 2011-01-01  Ang Mo Kio    3-room  318000
2343 2011-01-01  Ang Mo Kio    4-room  418000
2344 2011-01-01  Ang Mo Kio    5-room  590800
2498 2011-04-01  Ang Mo Kio    3-room  330000
2499 2011-04-01  Ang Mo Kio    4-room  423000

In [96]:
amk_hdb_type.tail (50)

         quarter        town flat_type   price
8427  2020-10-01  Ang Mo Kio    4-room  405400
8428  2020-10-01  Ang Mo Kio    5-room  690000
8582  2021-01-01  Ang Mo Kio    3-room  305000
8583  2021-01-01  Ang Mo Kio    4-room  432500
8584  2021-01-01  Ang Mo Kio    5-room  670000
8738  2021-04-01  Ang Mo Kio    3-room  322000
8739  2021-04-01  Ang Mo Kio    4-room  438000
8740  2021-04-01  Ang Mo Kio    5-room  600000
8894  2021-07-01  Ang Mo Kio    3-room  330000
8895  2021-07-01  Ang Mo Kio    4-room  458000
8896  2021-07-01  Ang Mo Kio    5-room  655000
9050  2021-10-01  Ang Mo Kio    3-room  340000
9051  2021-10-01  Ang Mo Kio    4-room  480000
9052  2021-10-01  Ang Mo Kio    5-room  655000
9206  2022-01-01  Ang Mo Kio    3-room  350000
9207  2022-01-01  Ang Mo Kio    4-room  475000
9208  2022-01-01  Ang Mo Kio    5-room  702500
9362  2022-04-01  Ang Mo Kio    3-room  365000
9363  2022-04-01  Ang Mo Kio    4-room  515000
9364  2022-04-01  Ang Mo Kio    5-room  785000
9518  2022-07-01  Ang Mo Kio    3-room  365500
9519  2022-07-01  Ang Mo Kio    4-room  516500
9520  2022-07-01  Ang Mo Kio    5-room  800000
9674  2022-10-01  Ang Mo Kio    3-room  378000
9675  2022-10-01  Ang Mo Kio    4-room  555000
9676  2022-10-01  Ang Mo Kio    5-room  868000
9830  2023-01-01  Ang Mo Kio    3-room  380000
9831  2023-01-01  Ang Mo Kio    4-room  605900
9832  2023-01-01  Ang Mo Kio    5-room  785000
9986  2023-04-01  Ang Mo Kio    3-room  380400
9987  2023-04-01  Ang Mo Kio    4-room  520000
9988  2023-04-01  Ang Mo Kio    5-room  697500
10142 2023-07-01  Ang Mo Kio    3-room  385000
10143 2023-07-01  Ang Mo Kio    4-room  538000
10144 2023-07-01  Ang Mo Kio    5-room  725500
10298 2023-10-01  Ang Mo Kio    3-room  388000
10299 2023-10-01  Ang Mo Kio    4-room  594000
10300 2023-10-01  Ang Mo Kio    5-room  788000
10454 2024-01-01  Ang Mo Kio    3-room  399000
10455 2024-01-01  Ang Mo Kio    4-room  531500
10456 2024-01-01  Ang Mo Kio    5-room  905000
10610 2024-04-01  Ang Mo Kio    3-room  402000
10611 2024-04-01  Ang Mo Kio    4-room  612900
10612 2024-04-01  Ang Mo Kio    5-room  780000
10766 2024-07-01  Ang Mo Kio    3-room  410000
10767 2024-07-01  Ang Mo Kio    4-room  568000
10768 2024-07-01  Ang Mo Kio    5-room  920000
10922 2024-10-01  Ang Mo Kio    3-room  422500
10923 2024-10-01  Ang Mo Kio    4-room  590000
10924 2024-10-01  Ang Mo Kio    5-room  820000

In [102]:
print (amk_hdb_type['price'].dtype)

object

In [103]:
amk_hdb_type['price'] = pd.to_numeric(amk_hdb_type['price'], errors='coerce')
print(amk_hdb_type.dtypes) 
print (amk_hdb_type.head (50))

quarter      datetime64[ns]
town                 object
flat_type            object
price               float64
dtype: object
        quarter        town flat_type     price
2    2007-04-01  Ang Mo Kio    3-room  172000.0
3    2007-04-01  Ang Mo Kio    4-room  260000.0
4    2007-04-01  Ang Mo Kio    5-room  372000.0
158  2007-07-01  Ang Mo Kio    3-room  190000.0
159  2007-07-01  Ang Mo Kio    4-room  280000.0
160  2007-07-01  Ang Mo Kio    5-room  420800.0
314  2007-10-01  Ang Mo Kio    3-room  203000.0
315  2007-10-01  Ang Mo Kio    4-room  307000.0
316  2007-10-01  Ang Mo Kio    5-room  423000.0
470  2008-01-01  Ang Mo Kio    3-room  215000.0
471  2008-01-01  Ang Mo Kio    4-room  313500.0
472  2008-01-01  Ang Mo Kio    5-room  435500.0
626  2008-04-01  Ang Mo Kio    3-room  230000.0
627  2008-04-01  Ang Mo Kio    4-room  321000.0
628  2008-04-01  Ang Mo Kio    5-room  471900.0
782  2008-07-01  Ang Mo Kio    3-room  238900.0
783  2008-07-01  Ang Mo Kio    4-room  333000.0
784  2008-07-01  Ang Mo Kio    5-room  468000.0
938  2008-10-01  Ang Mo Kio    3-room  246000.0
939  2008-10-01  Ang Mo Kio    4-room  341000.0
940  2008-10-01  Ang Mo Kio    5-room  468800.0
1094 2009-01-01  Ang Mo Kio    3-room  244400.0
1095 2009-01-01  Ang Mo Kio    4-room  338000.0
1096 2009-01-01  Ang Mo Kio    5-room       NaN
1250 2009-04-01  Ang Mo Kio    3-room  246000.0
1251 2009-04-01  Ang Mo Kio    4-room  340000.0
1252 2009-04-01  Ang Mo Kio    5-room  490000.0
1406 2009-07-01  Ang Mo Kio    3-room  256500.0
1407 2009-07-01  Ang Mo Kio    4-room  355500.0
1408 2009-07-01  Ang Mo Kio    5-room  488000.0
1562 2009-10-01  Ang Mo Kio    3-room  274000.0
1563 2009-10-01  Ang Mo Kio    4-room  371500.0
1564 2009-10-01  Ang Mo Kio    5-room  503000.0
1718 2010-01-01  Ang Mo Kio    3-room  278000.0
1719 2010-01-01  Ang Mo Kio    4-room  384500.0
1720 2010-01-01  Ang Mo Kio    5-room  503000.0
1874 2010-04-01  Ang Mo Kio    3-room  290000.0
1875 2010-04-01  Ang Mo Kio    4-room  389500.0
1876 2010-04-01  Ang Mo Kio    5-room  550000.0
2030 2010-07-01  Ang Mo Kio    3-room  305000.0
2031 2010-07-01  Ang Mo Kio    4-room  408000.0
2032 2010-07-01  Ang Mo Kio    5-room  589000.0
2186 2010-10-01  Ang Mo Kio    3-room  310000.0
2187 2010-10-01  Ang Mo Kio    4-room  418000.0
2188 2010-10-01  Ang Mo Kio    5-room  580000.0
2342 2011-01-01  Ang Mo Kio    3-room  318000.0
2343 2011-01-01  Ang Mo Kio    4-room  418000.0
2344 2011-01-01  Ang Mo Kio    5-room  590800.0
2498 2011-04-01  Ang Mo Kio    3-room  330000.0
2499 2011-04-01  Ang Mo Kio    4-room  423000.0

/var/folders/69/zlsfprn95wn191fzrh_b7bf00000gp/T/ipykernel_33127/959178944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amk_hdb_type['price'] = pd.to_numeric(amk_hdb_type['price'], errors='coerce')

In [104]:
print (amk_hdb_type.tail (50))

         quarter        town flat_type     price
8427  2020-10-01  Ang Mo Kio    4-room  405400.0
8428  2020-10-01  Ang Mo Kio    5-room  690000.0
8582  2021-01-01  Ang Mo Kio    3-room  305000.0
8583  2021-01-01  Ang Mo Kio    4-room  432500.0
8584  2021-01-01  Ang Mo Kio    5-room  670000.0
8738  2021-04-01  Ang Mo Kio    3-room  322000.0
8739  2021-04-01  Ang Mo Kio    4-room  438000.0
8740  2021-04-01  Ang Mo Kio    5-room  600000.0
8894  2021-07-01  Ang Mo Kio    3-room  330000.0
8895  2021-07-01  Ang Mo Kio    4-room  458000.0
8896  2021-07-01  Ang Mo Kio    5-room  655000.0
9050  2021-10-01  Ang Mo Kio    3-room  340000.0
9051  2021-10-01  Ang Mo Kio    4-room  480000.0
9052  2021-10-01  Ang Mo Kio    5-room  655000.0
9206  2022-01-01  Ang Mo Kio    3-room  350000.0
9207  2022-01-01  Ang Mo Kio    4-room  475000.0
9208  2022-01-01  Ang Mo Kio    5-room  702500.0
9362  2022-04-01  Ang Mo Kio    3-room  365000.0
9363  2022-04-01  Ang Mo Kio    4-room  515000.0
9364  2022-04-01  Ang Mo Kio    5-room  785000.0
9518  2022-07-01  Ang Mo Kio    3-room  365500.0
9519  2022-07-01  Ang Mo Kio    4-room  516500.0
9520  2022-07-01  Ang Mo Kio    5-room  800000.0
9674  2022-10-01  Ang Mo Kio    3-room  378000.0
9675  2022-10-01  Ang Mo Kio    4-room  555000.0
9676  2022-10-01  Ang Mo Kio    5-room  868000.0
9830  2023-01-01  Ang Mo Kio    3-room  380000.0
9831  2023-01-01  Ang Mo Kio    4-room  605900.0
9832  2023-01-01  Ang Mo Kio    5-room  785000.0
9986  2023-04-01  Ang Mo Kio    3-room  380400.0
9987  2023-04-01  Ang Mo Kio    4-room  520000.0
9988  2023-04-01  Ang Mo Kio    5-room  697500.0
10142 2023-07-01  Ang Mo Kio    3-room  385000.0
10143 2023-07-01  Ang Mo Kio    4-room  538000.0
10144 2023-07-01  Ang Mo Kio    5-room  725500.0
10298 2023-10-01  Ang Mo Kio    3-room  388000.0
10299 2023-10-01  Ang Mo Kio    4-room  594000.0
10300 2023-10-01  Ang Mo Kio    5-room  788000.0
10454 2024-01-01  Ang Mo Kio    3-room  399000.0
10455 2024-01-01  Ang Mo Kio    4-room  531500.0
10456 2024-01-01  Ang Mo Kio    5-room  905000.0
10610 2024-04-01  Ang Mo Kio    3-room  402000.0
10611 2024-04-01  Ang Mo Kio    4-room  612900.0
10612 2024-04-01  Ang Mo Kio    5-room  780000.0
10766 2024-07-01  Ang Mo Kio    3-room  410000.0
10767 2024-07-01  Ang Mo Kio    4-room  568000.0
10768 2024-07-01  Ang Mo Kio    5-room  920000.0
10922 2024-10-01  Ang Mo Kio    3-room  422500.0
10923 2024-10-01  Ang Mo Kio    4-room  590000.0
10924 2024-10-01  Ang Mo Kio    5-room  820000.0

In [105]:
aggregated_median_with_nan = amk_hdb_type.groupby(['quarter', 'town', 'flat_type']).agg(median_price=('price', lambda x: x.dropna().median())  # Drops NaNs only for median calculation
).reset_index()
print(aggregated_median_with_nan.head())

     quarter        town flat_type  median_price
0 2007-04-01  Ang Mo Kio    3-room      172000.0
1 2007-04-01  Ang Mo Kio    4-room      260000.0
2 2007-04-01  Ang Mo Kio    5-room      372000.0
3 2007-07-01  Ang Mo Kio    3-room      190000.0
4 2007-07-01  Ang Mo Kio    4-room      280000.0

In [106]:
print(aggregated_median_with_nan.tail(50))

       quarter        town flat_type  median_price
163 2020-10-01  Ang Mo Kio    4-room      405400.0
164 2020-10-01  Ang Mo Kio    5-room      690000.0
165 2021-01-01  Ang Mo Kio    3-room      305000.0
166 2021-01-01  Ang Mo Kio    4-room      432500.0
167 2021-01-01  Ang Mo Kio    5-room      670000.0
168 2021-04-01  Ang Mo Kio    3-room      322000.0
169 2021-04-01  Ang Mo Kio    4-room      438000.0
170 2021-04-01  Ang Mo Kio    5-room      600000.0
171 2021-07-01  Ang Mo Kio    3-room      330000.0
172 2021-07-01  Ang Mo Kio    4-room      458000.0
173 2021-07-01  Ang Mo Kio    5-room      655000.0
174 2021-10-01  Ang Mo Kio    3-room      340000.0
175 2021-10-01  Ang Mo Kio    4-room      480000.0
176 2021-10-01  Ang Mo Kio    5-room      655000.0
177 2022-01-01  Ang Mo Kio    3-room      350000.0
178 2022-01-01  Ang Mo Kio    4-room      475000.0
179 2022-01-01  Ang Mo Kio    5-room      702500.0
180 2022-04-01  Ang Mo Kio    3-room      365000.0
181 2022-04-01  Ang Mo Kio    4-room      515000.0
182 2022-04-01  Ang Mo Kio    5-room      785000.0
183 2022-07-01  Ang Mo Kio    3-room      365500.0
184 2022-07-01  Ang Mo Kio    4-room      516500.0
185 2022-07-01  Ang Mo Kio    5-room      800000.0
186 2022-10-01  Ang Mo Kio    3-room      378000.0
187 2022-10-01  Ang Mo Kio    4-room      555000.0
188 2022-10-01  Ang Mo Kio    5-room      868000.0
189 2023-01-01  Ang Mo Kio    3-room      380000.0
190 2023-01-01  Ang Mo Kio    4-room      605900.0
191 2023-01-01  Ang Mo Kio    5-room      785000.0
192 2023-04-01  Ang Mo Kio    3-room      380400.0
193 2023-04-01  Ang Mo Kio    4-room      520000.0
194 2023-04-01  Ang Mo Kio    5-room      697500.0
195 2023-07-01  Ang Mo Kio    3-room      385000.0
196 2023-07-01  Ang Mo Kio    4-room      538000.0
197 2023-07-01  Ang Mo Kio    5-room      725500.0
198 2023-10-01  Ang Mo Kio    3-room      388000.0
199 2023-10-01  Ang Mo Kio    4-room      594000.0
200 2023-10-01  Ang Mo Kio    5-room      788000.0
201 2024-01-01  Ang Mo Kio    3-room      399000.0
202 2024-01-01  Ang Mo Kio    4-room      531500.0
203 2024-01-01  Ang Mo Kio    5-room      905000.0
204 2024-04-01  Ang Mo Kio    3-room      402000.0
205 2024-04-01  Ang Mo Kio    4-room      612900.0
206 2024-04-01  Ang Mo Kio    5-room      780000.0
207 2024-07-01  Ang Mo Kio    3-room      410000.0
208 2024-07-01  Ang Mo Kio    4-room      568000.0
209 2024-07-01  Ang Mo Kio    5-room      920000.0
210 2024-10-01  Ang Mo Kio    3-room      422500.0
211 2024-10-01  Ang Mo Kio    4-room      590000.0
212 2024-10-01  Ang Mo Kio    5-room      820000.0

In [107]:
aggregated_median_with_nan.to_csv ("AMK_aggregated_median.csv", index=False)

In [112]:
import pandas as pd
aggregated_median_with_nan = pd.read_csv ("AMK_aggregated_median.csv")
aggregated_median_with_nan.head (30)

       quarter        town flat_type  median_price
0   2007-04-01  Ang Mo Kio    3-room      172000.0
1   2007-04-01  Ang Mo Kio    4-room      260000.0
2   2007-04-01  Ang Mo Kio    5-room      372000.0
3   2007-07-01  Ang Mo Kio    3-room      190000.0
4   2007-07-01  Ang Mo Kio    4-room      280000.0
5   2007-07-01  Ang Mo Kio    5-room      420800.0
6   2007-10-01  Ang Mo Kio    3-room      203000.0
7   2007-10-01  Ang Mo Kio    4-room      307000.0
8   2007-10-01  Ang Mo Kio    5-room      423000.0
9   2008-01-01  Ang Mo Kio    3-room      215000.0
10  2008-01-01  Ang Mo Kio    4-room      313500.0
11  2008-01-01  Ang Mo Kio    5-room      435500.0
12  2008-04-01  Ang Mo Kio    3-room      230000.0
13  2008-04-01  Ang Mo Kio    4-room      321000.0
14  2008-04-01  Ang Mo Kio    5-room      471900.0
15  2008-07-01  Ang Mo Kio    3-room      238900.0
16  2008-07-01  Ang Mo Kio    4-room      333000.0
17  2008-07-01  Ang Mo Kio    5-room      468000.0
18  2008-10-01  Ang Mo Kio    3-room      246000.0
19  2008-10-01  Ang Mo Kio    4-room      341000.0
20  2008-10-01  Ang Mo Kio    5-room      468800.0
21  2009-01-01  Ang Mo Kio    3-room      244400.0
22  2009-01-01  Ang Mo Kio    4-room      338000.0
23  2009-01-01  Ang Mo Kio    5-room           NaN
24  2009-04-01  Ang Mo Kio    3-room      246000.0
25  2009-04-01  Ang Mo Kio    4-room      340000.0
26  2009-04-01  Ang Mo Kio    5-room      490000.0
27  2009-07-01  Ang Mo Kio    3-room      256500.0
28  2009-07-01  Ang Mo Kio    4-room      355500.0
29  2009-07-01  Ang Mo Kio    5-room      488000.0

In [ ]:
aggregated_median_with_nan = aggregated_median_with_nan.dropna(subset=['median_price'])
aggregated_median_with_nan['quarter'] = pd.to_datetime(aggregated_median_with_nan['quarter'])
yearly_price_by_flat_type = aggregated_median_with_nan.groupby(['year', 'flat_type'], as_index=False)['median_price'].median()
yearly_price_by_flat_type.rename(columns={'median_price': 'agg_median'}, inplace=True)
print(yearly_price_by_flat_type)

    year flat_type  agg_median
0   2007    3-room    190000.0
1   2007    4-room    280000.0
2   2007    5-room    420800.0
3   2008    3-room    234450.0
4   2008    4-room    327000.0
5   2008    5-room    468400.0
6   2009    3-room    251250.0
7   2009    4-room    347750.0
8   2009    5-room    490000.0
9   2010    3-room    297500.0
10  2010    4-room    398750.0
11  2010    5-room    565000.0
12  2011    3-room    335400.0
13  2011    4-room    434250.0
14  2011    5-room    602700.0
15  2012    3-room    353500.0
16  2012    4-room    466500.0
17  2012    5-room    630750.0
18  2013    3-room    364150.0
19  2013    4-room    490000.0
20  2013    5-room    658250.0
21  2014    3-room    341500.0
22  2014    4-room    471500.0
23  2014    5-room    635000.0
24  2015    3-room    319000.0
25  2015    4-room    457000.0
26  2015    5-room    640000.0
27  2016    3-room    318000.0
28  2016    4-room    466500.0
29  2016    5-room    667500.0
30  2017    3-room    309450.0
31  2017    4-room    462000.0
32  2017    5-room    666250.0
33  2018    3-room    289200.0
34  2018    4-room    446000.0
35  2018    5-room    698700.0
36  2019    3-room    271750.0
37  2019    4-room    407250.0
38  2019    5-room    645750.0
39  2020    3-room    274500.0
40  2020    4-room    405200.0
41  2020    5-room    613200.0
42  2021    3-room    326000.0
43  2021    4-room    448000.0
44  2021    5-room    655000.0
45  2022    3-room    365250.0
46  2022    4-room    515750.0
47  2022    5-room    792500.0
48  2023    3-room    382700.0
49  2023    4-room    566000.0
50  2023    5-room    755250.0
51  2024    3-room    406000.0
52  2024    4-room    579000.0
53  2024    5-room    862500.0

In [ ]:
yearly_price_by_flat_type.tail (20)

    year flat_type  agg_median
34  2018    4-room    446000.0
35  2018    5-room    698700.0
36  2019    3-room    271750.0
37  2019    4-room    407250.0
38  2019    5-room    645750.0
39  2020    3-room    274500.0
40  2020    4-room    405200.0
41  2020    5-room    613200.0
42  2021    3-room    326000.0
43  2021    4-room    448000.0
44  2021    5-room    655000.0
45  2022    3-room    365250.0
46  2022    4-room    515750.0
47  2022    5-room    792500.0
48  2023    3-room    382700.0
49  2023    4-room    566000.0
50  2023    5-room    755250.0
51  2024    3-room    406000.0
52  2024    4-room    579000.0
53  2024    5-room    862500.0

In [131]:
yearly_price_by_flat_type.to_csv('AMK_yearly_median_by_flat_type.csv', index=False)